h1{
	font-size: 100px;
}

body { font-size: 24px;
background-image: url(na.jpg)



}
.element {
    background-image: url(na.jpg.);
    background-size: 100% 100%; /* מותאם לגובה ורוחב של האלמנט */
    background-position: center;
    background-repeat: no-repeat;
    height: 400px; /* לדוגמה, גובה של 400px */
    width: 100%; /* מלא רוחב של האלמנט המכיל */
}
